{% load static %}
{% load socialaccount %}
{% providers_media_js %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{% static 'Content/style.css' %}"> -->
   
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'Content/css/style.css'%}">
    <title>MyBlog</title>
</head>
<body>
    
    <div class=logo>       
        <h1 class="logo">My_<span class="blog">blog</span> </h1>
        <img width="150px" src="{% static 'Content/imgs/book.png'%}" alt="">
        <nav class="navbar navbar-light ">
            <div class="container-fluid">
              <form action="{% url 'search_venues' %}" class="d-flex" method="post">
                  {% csrf_token %}
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </nav>
         
   </div>
   {% if request.user.is_authenticated %}
   <div class="auth_r">
    <button class="btn btn1" > <a   href="">{{request.user.username}}</a></button>
    <button class="btn" > <a   href="{% url 'log_out' %}">Выйти</a></button>
    </div>
    {% else %}
   <div class="auth_r">
    <button class="btn btn1" > <a   href="{% url 'register' %}"> Регистрация </a></button>
    <button class="btn"  > <a  href="{% url 'login' %}"> Войти </a></button>
    <button class="btn"  > <a  href="{% url 'add_post' %}"> Добавить пост </a></button>
    </div>
    {% endif %}
    <div class="conteyner">
        <div class="header"> 
        {% block mainmenu %} 
        <div >
            <a  href="Content/main_id=0"><h3>{{main.name}}</h3></a>
          </div>
         {% for main in category %}
         <div >
           <a  href="{% url 'cat' main.id %}"><h3>{{main.name}}</h3></a>
         </div>
         {% endfor %}
           
        {% endblock %}
        </div> 
    <div class = "posts ">
       {% block content %} 
       {% endblock %}
    </div>
    <div class = 'one_post'>
        {% block one_post %} 
        {% endblock %} 
         <div class="forms">
            <div class="registration">
             {% block register1 %}
             {% endblock %}
            </div>
            <div class="welcom">
                {% block Welcome %}
                {% endblock %}
            </div>  
        </div>
         
        
    </div>
    <div class="login">
        {% block login %}
        {% endblock %}
    </div>
</div>
<script src="{% static 'Content/js/main.js'%}"></script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>