{% extends 'Content/base.html' %}
{% load socialaccount %}
{% providers_media_js %}
{% load static %}

{% block mainmenu %}
<div >
    <a  href="Content/main_id=0"><h3>{{main.name}}</h3></a>
  </div>
 {% for main in category %}
 <div >
   <a  href="{% url 'cat' main.id %}"><h3>{{main.name}}</h3></a>
 </div>
 {% endfor %}
{% endblock %}


{% block title %}Log-in{% endblock %}
{% block login %}
    <h1>Log-in</h1>
    <p>Please, use the following form to log-in:</p>
    <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input class="btn" type="submit" value="Log-in"></p>
    </form>
    <form action="{% provider_login_url 'google' %}" method="post">
      {% csrf_token %}
      <button class="btn " type="submit" >Войти через <img width="25px" src="{% static 'Content/imgs/icon.png'%}" alt="">
    </form>
    </a>
{% endblock %}