body{
    padding: 0;
    margin:0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(180deg,#7748fa,#f7de00) no-repeat;
}

.conteyner{
    display: flex;
   
}

a h3{
    color:black;
   
}
a {
    text-decoration: none;
    color:rgb(0, 0, 0);
    
}
.header{
    display:block;
    margin-left: 10px;;
    padding: 25px;
    border-radius: 25px;
    box-shadow:  0  5px 5px 2px  black;
}
.posts{
    display: block;
   
    padding: 40px;
    
   
}
.blog{
    color:#ffffff;
    font-weight: 700;

}
.main{
  
    margin: auto;
}
.logo{
    padding-left: 20px;
    display: flex;
    padding-top: 25px;
    color: rgb(255, 217, 0);
   
}

    


.btn1 a {
    font-weight: 500;
    color:black;

}
.auth_r {
    margin-left: 738px;
    margin-top: 10px;
    display: flex;
}
.login{
    margin: 20px 40px 20px 0;
}
.post_none{
    display: none;
}
.forms{
    display: block;
}
.search{
    width: 90px;
    height: 80px;
}
.btn_search{
    margin: 0;
}
.btn{
    padding: 5px 40px;
    margin-left: 5px;
    background: linear-gradient(180deg,#ffffff,#ffe602) no-repeat;
    border: 0;
    border-radius: 25px 0 25px 0;
   
}
.like{
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0) ;
    border: 3px solid rgba(255, 0, 0, 0.979);

}

